# Custom files
LocalConfig.cmake
src/colmap/util/version.cc
build/
install/

# Custom directories
.idea/
.vscode
.vs
.DS_Store
build*/
install-debug/
install-release/
data/
doc/_build
vcpkg_installed/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


!sqlite3.dll
!libgmp-10.dll
!libgmp-10.lib
!libmpfr-4.dll
!libmpfr-4.lib
!Labelme.exe
!glew-2.1.0/build
!lz4-1.9.4/build
!FreeImage3180Win32Win64/*/*lib
!FreeImage3180Win32Win64/*/*dll